
<div class="container">

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/bookList">See All Books</a>
<br>
<br>
<form action="/bookId" method="get">
        <label for="id">Search for a book by ID</label>
        <input type="String" name="id" placeholder='id' id="id">
</div>